flows (2).json
[{"id":"c0da6991.28c458","type":"tab","label":"FRP","disabled":false,"info":""},{"id":"a6119c57.e032d","type":"ui_group","name":"Enter the values","tab":"589cb93.4e24c48","order":1,"disp":true,"width":10,"collapse":false},{"id":"589cb93.4e24c48","type":"ui_tab","name":"FRP inputs","icon":"dashboard","disabled":false,"hidden":false},{"id":"f4d08dce.32f44","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9dfe8c3b.fc9be","type":"ui_form","z":"c0da6991.28c458","name":"","label":"","group":"a6119c57.e032d","order":6,"width":0,"height":0,"options":[{"label":"Dependents","value":"Dependents","type":"number","required":true,"rows":null},{"label":"Applicant Income","value":"ApplicantIncome","type":"number","required":true,"rows":null},{"label":"Coapplicant Income","value":"CoapplicantIncome","type":"number","required":true,"rows":null},{"label":"Loan Amount","value":"LoanAmount","type":"number","required":true,"rows":null},{"label":"Loan Term","value":"Loan_Term","type":"number","required":true,"rows":null}],"formValue":{"Dependents":"","ApplicantIncome":"","CoapplicantIncome":"","LoanAmount":"","Loan_Term":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":170,"y":200,"wires":[["da295bb3.a8ec48"]]},{"id":"b9f901d4.7010c","type":"ui_dropdown","z":"c0da6991.28c458","name":"Gender","label":"Gender","tooltip":"","place":"Select option","group":"a6119c57.e032d","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Female","value":"0","type":"str"},{"label":"Male","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":180,"y":80,"wires":[["4bded73a.123e68"]]},{"id":"d5e81582.925748","type":"ui_dropdown","z":"c0da6991.28c458","name":"Married","label":"Married","tooltip":"","place":"Select option","group":"a6119c57.e032d","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Married","value":"0","type":"str"},{"label":"Not married","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":180,"y":140,"wires":[["483607ba.a98458"]]},{"id":"f4129c70.6aac4","type":"ui_dropdown","z":"c0da6991.28c458","name":"Education","label":"Education","tooltip":"","place":"Select option","group":"a6119c57.e032d","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Educated","value":"0","type":"str"},{"label":"Not educated","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":180,"y":260,"wires":[["e8fa8c3b.b0163"]]},{"id":"22fb674b.0e4b88","type":"debug","z":"c0da6991.28c458","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":80,"wires":[]},{"id":"7441b09f.54e39","type":"debug","z":"c0da6991.28c458","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":140,"wires":[]},{"id":"6b612191.43dfc","type":"debug","z":"c0da6991.28c458","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":220,"wires":[]},{"id":"b38ae959.a164c8","type":"debug","z":"c0da6991.28c458","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":260,"wires":[]},{"id":"fd7f48b2.a5f488","type":"ui_dropdown","z":"c0da6991.28c458","name":"Self_Employed","label":"Self Employed","tooltip":"","place":"Select option","group":"a6119c57.e032d","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"No","value":"0","type":"str"},{"label":"Yes","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":200,"y":320,"wires":[["7d790175.bc1ef"]]},{"id":"da7464bf.9d06d8","type":"debug","z":"c0da6991.28c458","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":320,"wires":[]},{"id":"cb3af8b9.17b468","type":"ui_dropdown","z":"c0da6991.28c458","name":"Credit_History_Available","label":"Credit History Available","tooltip":"","place":"Select option","group":"a6119c57.e032d","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"No","value":"0","type":"str"},{"label":"Yes","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":230,"y":380,"wires":[["862d4027.d6e22"]]},{"id":"d9711bb7.14c5b8","type":"debug","z":"c0da6991.28c458","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":380,"wires":[]},{"id":"c5c09713.435a88","type":"ui_dropdown","z":"c0da6991.28c458","name":"Housing","label":"Housing","tooltip":"","place":"Select option","group":"a6119c57.e032d","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"No","value":"0","type":"str"},{"label":"Yes","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":180,"y":440,"wires":[["8e702eea.b9b43"]]},{"id":"f8ac7eaa.27e51","type":"ui_dropdown","z":"c0da6991.28c458","name":"Locality","label":"Locality","tooltip":"","place":"Select option","group":"a6119c57.e032d","order":5,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"1","value":"1","type":"str"},{"label":"2","value":"2","type":"str"},{"label":"3","value":"3","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":180,"y":500,"wires":[["8e77a686.9b5108"]]},{"id":"a1bb52d9.da683","type":"debug","z":"c0da6991.28c458","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":440,"wires":[]},{"id":"1bf9fe34.e7ee62","type":"debug","z":"c0da6991.28c458","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":500,"wires":[]},{"id":"4bded73a.123e68","type":"function","z":"c0da6991.28c458","name":"global variable for gender","func":"global.set(\"Gender\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":80,"wires":[["22fb674b.0e4b88"]]},{"id":"483607ba.a98458","type":"function","z":"c0da6991.28c458","name":"global varibale for married","func":"global.set(\"Married\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":140,"wires":[["7441b09f.54e39"]]},{"id":"da295bb3.a8ec48","type":"function","z":"c0da6991.28c458","name":"global variables for form node","func":"global.set(\"Dependents\",msg.payload.Dependents)\nglobal.set(\"ApplicantIncome\",msg.payload.ApplicantIncome)\nglobal.set(\"CoapplicantIncome\",msg.payload.CoapplicantIncome)\nglobal.set(\"LoanAmount\",msg.payload.LoanAmount)\nglobal.set(\"Loan_Terms\",msg.payload.Loan_Term)\nvar apikey = \"haNIXNSom9_1Z6eeTNWKyJY2WtE9PW71EkuMfcL5aDhz\"\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":200,"wires":[["6b612191.43dfc","608df74b.62c308"]]},{"id":"e8fa8c3b.b0163","type":"function","z":"c0da6991.28c458","name":"global variable for education","func":"global.set(\"Education\",msg.payload.Dependents)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":260,"wires":[["b38ae959.a164c8"]]},{"id":"7d790175.bc1ef","type":"function","z":"c0da6991.28c458","name":"global varibale for self employed ","func":"global.set(\"Self_Employed\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":320,"wires":[["da7464bf.9d06d8"]]},{"id":"862d4027.d6e22","type":"function","z":"c0da6991.28c458","name":"global variable for credit history","func":"global.set(\"Credit_History_Available\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":380,"wires":[["d9711bb7.14c5b8"]]},{"id":"8e702eea.b9b43","type":"function","z":"c0da6991.28c458","name":"global variable for housing","func":"global.set(\"Housing\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":440,"wires":[["a1bb52d9.da683"]]},{"id":"8e77a686.9b5108","type":"function","z":"c0da6991.28c458","name":"global variable for locality","func":"global.set(\"Locality\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":500,"wires":[["1bf9fe34.e7ee62"]]},{"id":"608df74b.62c308","type":"http request","z":"c0da6991.28c458","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":990,"y":160,"wires":[["9f2400a1.7cd2d"]]},{"id":"4db1a3aa.85011c","type":"debug","z":"c0da6991.28c458","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1290,"y":240,"wires":[]},{"id":"48c16e1f.a37c3","type":"function","z":"c0da6991.28c458","name":"","func":"var Gender = global.get(\"Gender\")\nvar Married = global.get(\"Married\")\nvar Dependents = global.get(\"Dependents\")\nvar Education = global.get(\"Education\")\nvar Self_Employed = global.get(\"Self_Employed\")\nvar ApplicantIncome = global.get(\"ApplicantIncome\")\nvar CoapplicantIncome = global.get(\"CoapplicantIncome\")\nvar LoanAmount = global.get(\"LoanAmount\")\nvar Loan_Term = global.get(\"Loan_Term\")\nvar Credit_History_Available = global.get(\"Credit_History_Available\")\nvar Housing = global.get(\"Housing\")\nvar Locality = global.get(\"Locality\")\nvar token=global.get(\"token\")\nmsg.headers={'Content-Type':'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"Gender\",\"Married\",\"Dependents\",\"Education\",\"Self_Employed\",\"ApplicantIncome\",\"CoapplicantIncome\",\"LoanAmount\",\"Loan_Term\",\"Credit_History_Available\",\"Housing\",\"Locality\"],\"values\": [[Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Term,Credit_History_Available,Housing,Locality]]}]}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":80,"wires":[["f5b128e.4474ad8"]]},{"id":"f5b128e.4474ad8","type":"http request","z":"c0da6991.28c458","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/0f39133e-cf3c-42f5-9887-f52f4f4f1051/predictions?version=2021-07-19","tls":"","persist":false,"proxy":"","authType":"","x":1270,"y":120,"wires":[["35877ed.3b1f182","16250862.130bf8"]]},{"id":"35877ed.3b1f182","type":"debug","z":"c0da6991.28c458","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1420,"y":160,"wires":[]},{"id":"9f2400a1.7cd2d","type":"function","z":"c0da6991.28c458","name":"","func":"global.set(\"token\",msg.payload.access_token)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":200,"wires":[["4db1a3aa.85011c","48c16e1f.a37c3"]]},{"id":"16250862.130bf8","type":"function","z":"c0da6991.28c458","name":"","func":"msg.payload = msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":100,"wires":[["7c19f48b.1cd3fc","ffb7b71a.30aa58"]]},{"id":"7c19f48b.1cd3fc","type":"debug","z":"c0da6991.28c458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1660,"y":120,"wires":[]},{"id":"ffb7b71a.30aa58","type":"ui_text","z":"c0da6991.28c458","group":"a6119c57.e032d","order":8,"width":0,"height":0,"name":"","label":"risk is ","format":"{{msg.payload}}","layout":"row-spread","x":1650,"y":60,"wires":[]}]